/* @font-face {
  font-family: 'Aileron Regular';
  src: url('../fonts/aileron.otf');
}

@font-face {
  font-family: 'Racing Sans One';
  src: url('../fonts/racingSansOne.ttf');
} */

h4 {
  padding-left: 12% !important;
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar-track {
    z-index: 999;
    background-color: transparent;
    border-radius: 1px;
  }
  ::-webkit-scrollbar {
    z-index: 999;
    width: 1rem;
    height: 1rem;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    z-index: 999;
    border-radius: 10px;
    background-color: var(--tertiary_color_1);
    background-image: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      color-stop(0.5, var(--secondary_color_1)),
      color-stop(0.5, var(--secondary_color_1)),
      to(var(--secondary_color_5))
    );
  }
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* Variables */

:root {
  --delay: 0.15;
  /* Color */

  --contrast_primary_color_1: rgb(255, 255, 255);
  --contrast_primary_color_2: rgba(255, 255, 255, 0.8);
  --contrast_primary_color_3: rgb(173, 173, 173);
  --contrast_primary_color_4: rgba(255, 255, 255, 0.4);
  --contrast_primary_color_5: rgba(255, 255, 255, 0.2);

  --primary_color_1: rgba(40, 42, 54, 1);
  --primary_color_2: rgb(36, 32, 46);
  --primary_color_3: rgb(42, 44, 55);
  --primary_color_4: rgb(29, 30, 38);
  --primary_color_5: rgba(58, 60, 70, 0.2);
  --primary_color_6: rgb(68, 68, 68);

  --secondary_color_1: rgb(104, 239, 173);
  --secondary_color_2: rgb(80, 250, 123);
  --secondary_color_3: rgb(53, 248, 102);
  --secondary_color_4: rgb(27, 248, 82);
  --secondary_color_5: rgb(0, 255, 64);

  --contrast_secondary_color_1: rgb(58, 168, 62);

  --tertiary_color_0: rgb(248, 193, 220);
  --tertiary_color_1: rgb(255, 128, 191);
  --tertiary_color_2: rgb(243, 119, 181);
  --tertiary_color_3: rgb(236, 93, 141);
  --tertiary_color_4: rgb(245, 68, 127);
  --tertiary_color_5: rgb(233, 30, 99);

  --quaternary_color_1: rgb(189, 177, 247);
  --quaternary_color_2: rgb(149, 128, 255);
  --quaternary_color_3: rgb(121, 96, 248);
  --quaternary_color_4: rgb(101, 71, 255);
  --quaternary_color_5: rgb(80, 46, 252);

  --quinary_color_1: rgb(248, 252, 190);
  --quinary_color_2: rgb(242, 248, 150);
  --quinary_color_3: rgb(238, 247, 119);
  --quinary_color_4: rgb(238, 250, 45);
  --quinary_color_5: rgb(232, 248, 9);

  --closed_ball_color: rgb(149, 128, 255);
  --opened_ball_color: rgb(104, 239, 173);
  --inner_ball_color: rgb(255, 255, 255);
  --text_date_color: rgb(149, 128, 255);
  --line_color: rgb(104, 239, 173);
  --move_color: rgb(104, 239, 173);

  --scroll-width: 10px;
}

body {
  background-color: var(--contrast_secondary_color_1);
}

thead {
  z-index: 99;
  background-color: transparent;
  width: calc(100% - 10px);
}

.all-background {
  color: var(--primary_color_2);
  background-color: var(--primary_color_2);
}

.all-background > th {
  color: var(--primary_color_2);
  background-color: var(--primary_color_2);
}

.all-background > tr {
  color: var(--primary_color_2);
  background-color: var(--primary_color_2);
}

.all-background > i {
  color: var(--primary_color_2);
  background-color: var(--primary_color_2);
}

.fake-icon {
  font-size: 12.4px;
}

.page-content .mdl-data-table th {
  height: 38px !important;
}


.mdl-progress {
  background-color: transparent;
  width: 100%;
  height: 5px;
  z-index: 9999999;
}

.mdl-progress.mdl-progress--indeterminate > .bar1,
.mdl-progress.mdl-progress__indeterminate > .bar1,
.mdl-progress.mdl-progress--indeterminate > .bar3,
.mdl-progress.mdl-progress__indeterminate > .bar3 {
  background-color: var(--secondary_color_5);
}

.mdl-progress:not(.mdl-progress--indeterminate):not(.mdl-progress--indeterminate) > .auxbar,
.mdl-progress:not(.mdl-progress__indeterminate):not(.mdl-progress__indeterminate) > .auxbar {
  background-image: linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, transparent, transparent);
}

.mdl-progress.mdl-progress--indeterminate > .bar3,
.mdl-progress.mdl-progress__indeterminate > .bar3 {
  background-color: transparent;
}

.mdl-progress > .bufferbar {
  background-image: linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, transparent, transparent);
}

.mdl-layout {
  overflow-y: hidden;
}

.mdl-layout__content {
  background: var(--primary_color_4);
}

.mdl-layout__container {
  height: -webkit-fill-available !important;
}

.page-content th a material-icons {
  color: revert;
}

.page-content th a {
  color: revert;
}

.page-content thead {
  background: var(--primary_color_2);
  color: var(--contrast_primary_color_2);
  /* padding-top: 100px; */
}

.page-content thead th {
  color: var(--quaternary_color_2);
}

.page-content thead th i {
  cursor: pointer;
}

.page-content tbody th {
  color: revert;
  font-weight: 200;
}

.page-content tbody th:first-child {
  cursor: pointer;
}

.page-content tbody {
  background: var(--primary_color_3);
  color: var(--contrast_primary_color_2);
}

.page-content .mdl-data-table tbody th:hover {
  background-color: var(--contrast_primary_color_1);
}

.page-content .mdl-data-table tbody tr:hover {
  background-color: var(--secondary_color_1);
  color: var(--primary_color_1);
}

.page-content tbody tr:hover .link {
  color: var(--primary_color_1) !important;
}

.page-content tbody tr:hover .gold {
  color: var(--primary_color_1) !important;
}

.link {
  color: var(--secondary_color_1) !important;
}

.pink {
  color: var(--tertiary_color_1) !important;
}

.gold {
  color: var(--contrast_primary_color_1) !important;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active {
  color: var(--secondary_color_1) !important;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
  background: var(--secondary_color_1) !important;
}

.mdl-layout__tab {
  color: var(--contrast_primary_color_3);
}

.mdl-layout__tab-bar-button,
.mdl-layout__tab-bar {
  background-color: var(--primary_color_1);
}

.mdl-layout__tab-bar {
  width: 100%;
}

.boxes .mdl-button--fab.mdl-button--colored {
  background: var(--contrast_primary_color_1) !important;
  color: var(--quaternary_color_2) !important;
}

.mdl-color--pink-400 {
  background: var(--tertiary_color_1) !important;
}

.mdl-color--blue-A400 {
  background: var(--quaternary_color_2) !important;
}

.restrict-area {
  filter: blur(2px);
}

.page-content table {
  display: contents;
}



.odd {
  text-align: right !important;
}

.page-content i {
  font-size: 18px;
}

.mdl-layout.is-upgraded .mdl-layout__tab-panel {
  height: calc(100vh - 117px);
}

.mdl-layout__tab-panel.is-active {
  overflow-x: scroll;
}

.tableOdd {
  color: var(--tertiary_color_1) !important;
}

.page-content .mdl-data-table th,
.page-content .mdl-data-table i {
  font-weight: lighter;
}

#tabRankUsers th:nth-child(1),
#tabRankTeams th:nth-child(1),
#tabStatistics th:nth-child(1) {
  padding-left: 0px !important;
  min-width: 170px;
}

#tabLastGames .page-content .mdl-data-table tbody th:nth-child(1) {
  margin: auto;
  align-items: initial;
  height: 76px !important;
  line-height: 100% !important;
  margin: auto;
  padding: 30px 0 !important;
  text-align: center;
}

#tabLastGames .flex-up {
  min-width: 170px;
}
#tabLastGames .flex-down {
  min-width: 170px;
}

#tabLastGames ul {
  padding: 0;
  margin: 0;
}

#tabLastGames ul {
  text-align: center;
}

.rank-scrol {
  position: fixed;
}

.rank-categories {
  padding-top: 35px;
  padding-bottom: 25px !important;
}

.rank-filters {
  top: 175px;
  background-color: transparent !important;
}

.video i {
  align-items: initial;
  height: 76px !important;
  line-height: 100% !important;
  margin: auto;
  padding: 30px 0 !important;
  text-align: center;
  color: var(--tertiary_color_5);
  font-size: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}

.video a {
  text-decoration: none;
}

body {
  margin: 0;
  overflow-y: hidden;
}

table {
  margin: inherit;
}

a img {
  border: 0px;
}

::selection {
  color: #fff;
  user-select: none;
}

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.flex-up {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.flex-down {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
}

.no-border {
  border: none !important;
}

.slider-padding {
  padding: 0 0 0 0;
  height: 40px;
}

.deleteListGid:hover {
  color: #e82f38;
}

.mdl-layout__header {
  min-height: 33px !important;
  background-color: var(--contrast_secondary_color_1);
}

.mdl-layout__content {
  width: 100vw;
  height: calc(100vh - 69px);
  position: relative;
}

#trainFactory .mdl-textfield__label,
#predictFactory .mdl-textfield__label {
  text-align: center !important;
  cursor: text !important;
  top: 10px !important;
}

.btns .mdl-textfield__label {
  top: -10px !important;
}

.btns .mdl-textfield {
  padding: 5px 0 0 0;
}

.boxes {
  position: absolute;
  z-index: 99999;
  width: 100%;
}

.android-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

/* Class */
.status-betfair {
  height: 35%;
}

#preloader {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#loaderLogo {
  width: 30vmax;
  height: 30vmax;
  filter: grayscale(100%);
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
  padding: 10px;
}

.loader-names {
  flex-direction: column;
  color: white;
  display: flex;
  padding-top: 5em;
  justify-content: center;
}

.loader-separator {
  flex-grow: 0.3;
}

.loader-name {
  font-family: 'Racing Sans One' !important;
  text-transform: none !important;
  font-size: 6vmax !important;
}

.loader-slogan {
  text-align: justify;
  text-align-last: center;
  font-family: 'Aileron Regular' !important;
  text-transform: none !important;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-weight: 100;
  padding-top: 2em;
}

.cifra-brother {
  font-family: 'Racing Sans One' !important;
  text-transform: none !important;
  font-size: 17px !important;
}

.mdl-selectfield__select {
  width: 30%;
  padding: 4px 0;
  margin: 0;
  color: inherit;
  background: transparent;
  font-size: 16px;
  text-align: left;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
table {
  padding: 2vw;
  margin: 1vw;
  box-shadow: none;
  border: none;
  display: inline-table;
}

button:active {
  border-style: none;
}
button:focus {
  outline: none;
}
button:focus {
  color: transparent;
}
button {
  -webkit-appearance: none;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: transparent;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border: none;
}

.btnTogether {
  float: left;
  font: 100 15px Roboto;
  line-height: 25px;
  color: black;
  font-weight: 100 !important;
  position: absolute;
  left: 5%;
}

.mdl-switch.is-checked .mdl-switch__thumb {
  background: rgb(50, 166, 238);
}

.mdl-switch.is-checked .mdl-switch__track {
  background: rgba(50, 166, 238, 0.65);
}

@media screen and (max-width: 1024px) {
  .mdl-layout__header-row .mdl-navigation__link {
    line-height: 56px;
    padding: 0 0px;
    margin-left: 12px;
  }

  .mdl-button {
    min-width: 40px;
  }
}
/*
.mdl-chip__text {
  padding-left: 8px;
}

.mdl-chip__contact {
  margin-right: 0px;
} */

select {
  font: 300 15px Roboto !important;
  color: #0088ff !important;
}

select:focus {
  outline: none;
}

option:focus {
  outline: none;
}

select:not(:-internal-list-box) {
  overflow: visible !important;
  background-color: #555;
}

select::selection {
  color: red;
  background: yellow;
}

.android-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}

.logo-image {
  position: absolute;
  color: white;
  font-family: 'Racing Sans One';
  padding-bottom: 15px;
  background: unset;
}

.logo-image-2 {
  height: 50%;
  display: flex;
  margin: auto;
  position: relative;
  top: 30px;
  color: white;
  background: url(../images/logo.png) no-repeat;
}

.android-header {
  overflow: visible;
  background-color: var(--contrast_secondary_color_1);
}

.android-header .material-icons {
  color: var(--move_color);
}

.android-header .mdl-layout__drawer-button {
  background: transparent;
  color: (--contrast_primary_color_5);
}

.android-header .mdl-navigation__link {
  color: var(--primary_color_3);
  font-weight: 700;
  font-size: 14px;
}

.android-search-box.is-focused + .android-navigation-container {
  opacity: 0;
  width: 100px;
}

.android-search-box {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 16px;
  margin-right: 16px;
}

.android-more-button {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

.android-drawer {
  border-right: none;
}

.android-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

.android-drawer .mdl-layout-title {
  position: relative;
  background: var(--primary_color_1);
  height: 160px;
}

.android-drawer .logo-image {
  position: absolute;
  bottom: 16px;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500;
}

.android-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.android-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

/* My adds */

.font-title {
  margin: auto !important;
  text-align: center;
  line-height: 4vh;
  color: var(--contrast_primary_color_1);
  font-weight: 100;
  font-size: 4.7vh;
  font-family: 'Racing Sans One' !important;
}

.font-buget {
  margin: auto !important;
  text-align: center;
  line-height: 4vh;
  font-family: 'Racing Sans One' !important;
  color: dimgray;
  font-weight: 00;
  font-size: 3vh;
}

.mdl-card {
  border-radius: 10px !important;
}

.actions-fab {
  display: table;
  position: relative;
  margin: 1vw;
}

.automations {
  display: none;
  animation-duration: 1s;
  animation-delay: 2s;
  position: fixed;
  right: 2vw;
  bottom: 40px;
  z-index: 3;
  display: block;
}

.invAutomations {
  left: 2vw;
  right: unset;
}

.animated-delay-1 {
  animation-delay: calc(var(--delay) * 2s);
}

.animated-delay-2 {
  animation-delay: calc(var(--delay) * 4s);
}

.animated-delay-3 {
  animation-delay: calc(var(--delay) * 6s);
}

.animated-delay-4 {
  animation-delay: calc(var(--delay) * 8s);
}

.animated-delay-5 {
  animation-delay: calc(var(--delay) * 10s);
}

.animated-delay-all {
  animation-delay: calc(var(--delay) / 1024) s;
}

.container {
  padding: 5vh 0 5vh 0 !important;
}
.init-content {
  padding: 10vh 0 5vh 0 !important;
}

.init-box {
  position: relative;
  min-height: 50vh;
  height: auto;
  border-radius: 10px;
  background: white;
  text-align: center;
  padding-bottom: 5vh;
  padding-top: 5vh;
  z-index: 1;
}
.init-box-bet {
  position: relative;
  min-height: 30vh;
  height: auto;
  border-radius: 10px;
  background: #ffb80c;
  text-align: center;
  margin: 5vh 5vh 5vh 5vh;
  z-index: 1;
}
.init-box-robot {
  position: relative;
  min-height: 70vh;
  height: auto;
  border-radius: 10px;
  background: white;
  text-align: center;
  padding-bottom: 1vh;
  padding-top: 1vh;
  z-index: 10;
}

.profile-circle {
  position: absolute;
  top: 10vh;
  height: 15vh !important;
  width: 15vh !important;
  border-radius: 50%;
  z-index: 3;
  font-size: 5vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.image {
  background-image: url('https://img.kpopmap.com/2018/03/jonggil-profile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain !important;
}

.image:hover {
  opacity: 0.3;
  transition: all 0.3s;
  opacity: 0;
  background: rgb(0, 0, 0);
}

.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.portfolio-max-width {
  padding: 0 20vw 0 20vw;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
}

.btn-close {
  transition: transform 1s;
}

.btn-close:hover {
  transform: rotate(180deg);
}

.btn-save {
  transition: transform 1s;
  z-index: 999;
}

.btn-save:hover {
  transform: rotate(180deg);
}

.mdl-button--fab.mdl-button--mini-fab {
  float: right;
  right: 5%;
  width: 32px !important;
  height: 32px !important;
  min-width: 30px !important;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.mdl-button--fab.mdl-button--colored {
  background: var(--primary_color_1) !important;
  color: var(--secondary_color_2) !important;
  margin-left: 5px;
}

.mdl-slider__container {
  width: calc(100% + 50px) !important;
  border: 2%;
  float: left;
  left: -25px;
  margin-top: 1.5%;
}

#betters {
  position: absolute;
  top: 2vh;
  height: 20vh;
  display: inline-block;
  text-align: center;
}

/* Id */
#contact .mdl-card__media {
  height: 15vh;
}

#account .mdl-textfield {
  width: 60% !important;
}

#account {
  display: none;
}

#methods {
  display: none;
}

#methods img.article-image {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}

#profits {
  display: none;
}

#contact {
  display: none;
}

#robotFactory {
  display: none;
}

#robotFactory .mdl-textfield {
  max-width: 400px !important;
  margin-bottom: 1%;
}

#robotFactory .mdl-grid {
  height: 0;
  padding: 0;
}

#games.mdl-grid {
  padding-top: 20vh !important;
}

.slider {
  height: 40px;
}
.slider .btn-close:hover {
  transform: none;
}

.slider .amount {
  margin-left: 30px;
  float: right;
  text-align: right;
  z-index: 999;
  padding-left: 10px;
}

.slider-value {
  float: right;
  text-align: right;
  z-index: 999;
  padding-left: 10px;
  min-width: 40px;
}

.slider-above {
  display: flex;
  flex-direction: column;
}

.slider .perc {
  float: right;
}

.values {
  text-align: right;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px;
  text-align: right;
}

#typeMarket .mdl-textfield {
  width: 70px !important;
  margin: 0 !important;
  text-align: center !important;
}

#typeMarket input {
  text-align: center !important;
  cursor: text !important;
}

/* General */

.mdl-navigation__link,
.mdl-chip__text,
.mdl-textfield__label,
.mdl-button,
.material-icons,
#txtBudget,
h4,
img,
div {
  user-select: none !important;
  -webkit-user-select: none !important;
  -webkit-user-drag: none !important;
}

#products.mdl-data-tabledynamic {
  width: 100%;
}

h4 {
  margin: 24px 0 !important;
}

.mdl-data-tabledynamic {
  overflow: visible !important;
}

.mdl-data-tabledynamic__title {
  width: 100%;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  line-height: normal;
  -webkit-perspective-origin: 165px 56px;
  perspective-origin: 165px 56px;
  -webkit-transform-origin: 165px 56px;
  transform-origin: 165px 56px;
  box-sizing: border-box;
  display: block;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-top: 30px;
}

.mdl-data-tabledynamic {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  width: 330px;
  z-index: 1;
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
}

.mdl-data-tabledynamic__title-text,
.h2.mdl-data-tabledynamic__title-text {
  float: left;
  font-weight: 400 !important;
}

.mdl-data-tabledynamic__title-text {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: inherit;
  display: block;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  overflow: hidden;
  -webkit-transform-origin: 149px 48px;
  transform-origin: 149px 48px;
  margin: 0;
}

.mdl-data-tabledynamic__actions {
  float: right;
  margin-right: 12px;
}

.mdl-data-tabledynamic__actions .mdl-button {
  min-width: 45px;
  padding: 0 10px;
}

.mdl-data-tabledynamic__content {
  overflow: visible !important;
  color: rgba(0, 0, 0, 0.54);
  font-size: 1rem;
  line-height: 18px;
  padding: 0;
  width: 100%;
}

.mdl-data-tabledynamic__content .mdl-data-table {
  width: 100%;
  border-left: 0;
  border-right: 0;
}

.mdl-data-tabledynamic__content .mdl-data-table {
  box-shadow: none !important;
}

.mdl-data-table .mdl-data-table__label {
  font-weight: 500;
  color: #afafaf;
}

.mdl-data-table tr.is-selected .mdl-data-table__label {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.45) !important;
}

.mdl-data-table__row--selectable tr:hover,
.mdl-data-table__row--selectable tr:active,
.mdl-data-table__row--selectable tr.active {
  background: #000000;
}

.mdl-dialog__addContent .mdl-dialog__actions {
  padding-top: 0;
}

.mdl-dialog__addContent {
  text-align: left;
  width: 320px;
  height: 180px;
  display: block;
  position: absolute;
  background: var(--contrast_primary_color_1);
  margin-top: -14px;
  z-index: 99;
}

.mdl-dialog__addContent .mdl-dialog__title {
  color: var(--primary_color_1) !important;
  font-size: 22px !important;
  font-weight: 500;
}

.mdl-dialog__addContent .mdl-dialog__content {
  padding-top: 0;
  padding-bottom: 0;
}

.add-table-content:hover {
  color: #60c7cd;
  cursor: pointer;
}

main#ty-container > .mdl-grid:first-child {
  width: 1000px !important;
  max-width: inherit;
}

main#ty-container #addCustomerAction {
  width: 100% !important;
  max-width: inherit;
}
*/ .mdl-checkbox .mdl-checkbox__tick-outline {
  padding-left: 1px !important;
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
  padding-left: 1px !important;
}
